<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>南昌出行·趣作战</title>
    <link rel="stylesheet" href="css/base.css?v={{ version }}">
    <script src="js/libs/sea.js?v={{ version }}"></script>
</head>
<body>
<div class="mainWrap">

    <!-- 场景 (start) -->

    <!-- 引导页(start) -->
    <div id="guidePage" class="guidePage fullScreen hide">
        <div class="guideBlueArea">
            <div class="imgCenterBox absoulteControl guideLogo">
                <img src="image/guide/logo.png" alt="">
            </div>
            <div class="imgCenterBox absoulteControl guideTitle">
                <img src="image/guide/title.png" alt="">
            </div>
            <div class="imgCenterBox absoulteControl guideBtn">
                <img src="image/guide/btn.png" alt="">
            </div>
        </div>
        <div class="guideWhiteArea">
            <img src="image/guide/ad.png" class="guideAd" alt="">
        </div>
    </div>
    <!-- 引导页(end) -->

    <!-- 滑动开始(start) -->
    <div id="slideStartPage" class="slideStartPage fullScreen hide">
        <img src="image/slide/logo.png" class="slideLogo" alt="">
        <img src="image/slide/cloud.png" class="slideCloud" alt="">

        <div class="slideGrass imgCenterBox absoulteControl">
            <img class="slideGrassBg" src="image/slide/grass.png" alt="">

            <div class="slideStartBox absoulteControl">
                <img src="image/slide/train.png" class="slideTrain trainBg" alt="">
                <img src="image/slide/train.png" class="slideTrain trainActive" alt="">
            </div>

        </div>

        <div class="imgCenterBox absoulteControl slideTitle">
            <img src="image/slide/title.png" alt="">
        </div>

        <div class="imgCenterBox absoulteControl slideSubtitle">
            <img src="image/slide/subtitle.png" alt="">
        </div>

        <div class="imgCenterBox absoulteControl slideTips">
            <img src="image/slide/tips.png" alt="">
        </div>
    </div>
    <!-- 滑动开始(end) -->

    <!-- 游戏1(start) -->
    <div id="gameOne" class="gameOne fullScreen hide">
        <div class="gameOneMain absoulteControl">
            <img src="image/game1/bg.png" class="gameOneBg" alt="">
            <div class="gameOneBankWrap">
                <img src="image/game1/txt_bjzh.png" class="gameOneBank gameOneBankSite01" alt="滨江支行">
                <img src="image/game1/txt_zyyb.png" class="gameOneBank gameOneBankSite02" alt="总行营业部">
                <img src="image/game1/txt_xjzh.png" class="gameOneBank gameOneBankSite03" alt="新建支行">
                <img src="image/game1/txt_ybddzh.png" class="gameOneBank gameOneBankSite04" alt="迎宾大道支行">
                <img src="image/game1/txt_dhzh.png" class="gameOneBank gameOneBankSite05" alt="东湖支行">
                <img src="image/game1/txt_tlzh.png" class="gameOneBank gameOneBankSite06" alt="铁路支行">
                <img src="image/game1/txt_hgtzh.png" class="gameOneBank gameOneBankSite07" alt="红谷滩支行">
                <img src="image/game1/txt_byzh.png" class="gameOneBank gameOneBankSite08" alt="八一支行">
            </div>
            <div class="gameOneTips_on">
                <div class="gameOnetag gameOneTagSite01">
                    <img class="tag_on" src="image/game1/tag_off.png" alt="">
                    <img class="tag_off" src="image/game1/tag_off.png" alt="">
                </div>

                <div class="gameOnetag gameOneTagSite02">
                    <img class="tag_on" src="image/game1/tag_off.png" alt="">
                    <img class="tag_off" src="image/game1/tag_off.png" alt="">
                </div>

                <div class="gameOnetag gameOneTagSite03">
                    <img class="tag_on" src="image/game1/tag_off.png" alt="">
                    <img class="tag_off" src="image/game1/tag_off.png" alt="">
                </div>

                <div class="gameOnetag gameOneTagSite04">
                    <img class="tag_on" src="image/game1/tag_off.png" alt="">
                    <img class="tag_off" src="image/game1/tag_off.png" alt="">
                </div>

                <div class="gameOnetag gameOneTagSite05">
                    <img class="tag_on" src="image/game1/tag_off.png" alt="">
                    <img class="tag_off" src="image/game1/tag_off.png" alt="">
                </div>

                <div class="gameOnetag gameOneTagSite06">
                    <img class="tag_on" src="image/game1/tag_off.png" alt="">
                    <img class="tag_off" src="image/game1/tag_off.png" alt="">
                </div>

                <div class="gameOnetag gameOneTagSite07">
                    <img class="tag_on" src="image/game1/tag_off.png" alt="">
                    <img class="tag_off" src="image/game1/tag_off.png" alt="">
                </div>

                <div class="gameOnetag gameOneTagSite08">
                    <img class="tag_on" src="image/game1/tag_off.png" alt="">
                    <img class="tag_off" src="image/game1/tag_off.png" alt="">
                </div>
            </div>
            <div class="gameOneFixed"></div>
        </div>
    </div>
    <!-- 游戏1(end) -->

    <!-- 游戏2(start) -->

        <!-- 场景2-1(开始) -->
        <div id="gameTwo" class="gameTwo fullScreen hide">
            <div class="gameTwoMain absoulteControl">
                <img src="image/game2/1/bg.png" class="gameTwoBg" alt="">

                <div class="fullScreen gameTwoLogoWrap">
                    <div class="gameTwoLogo logo_1">
                        <img src="image/game2/1/logo_1.png" alt="">
                    </div>
                    <div class="gameTwoLogo logo_2">
                        <img src="image/game2/1/logo_2.png" alt="">
                    </div>
                    <div class="gameTwoLogo logo_3">
                        <img src="image/game2/1/logo_3.png" alt="">
                    </div>
                    <div class="gameTwoLogo logo_4">
                        <img src="image/game2/1/logo_4.png" alt="">
                    </div>
                    <div class="gameTwoLogo logo_5">
                        <img src="image/game2/1/logo_5.png" alt="">
                    </div>
                    <div class="gameTwoLogo logo_6">
                        <img src="image/game2/1/logo_6.png" alt="">
                    </div>
                    <div class="gameTwoLogo logo_7">
                        <img src="image/game2/1/logo_7.png" alt="">
                    </div>
                    <div class="gameTwoLogo logo_8">
                        <img src="image/game2/1/logo_8.png" alt="">
                    </div>
                    <div class="gameTwoLogo logo_9">
                        <img src="image/game2/1/logo_9.png" alt="">
                    </div>
                </div>

                <div class="gameOneFixed"></div>
            </div>
        </div>
        <!-- 场景2-1(结束) -->

        <!-- 场景2-2(开始) -->
        <div id="gameTwo2" class="gameTwo fullScreen hide">
            <div class="gameTwoMain absoulteControl">
                <img src="image/game2/2/bg.png" class="gameTwoBg" alt="">

                <div class="fullScreen gameTwoLogoWrap">
                    <div class="gameTwoLogo logo_1">
                        <img src="image/game2/2/logo_1.png" alt="">
                    </div>
                    <div class="gameTwoLogo logo_2">
                        <img src="image/game2/2/logo_2.png" alt="">
                    </div>
                    <div class="gameTwoLogo logo_3">
                        <img src="image/game2/2/logo_3.png" alt="">
                    </div>
                    <div class="gameTwoLogo logo_4">
                        <img src="image/game2/2/logo_4.png" alt="">
                    </div>
                    <div class="gameTwoLogo logo_5">
                        <img src="image/game2/2/logo_5.png" alt="">
                    </div>
                    <div class="gameTwoLogo logo_6">
                        <img src="image/game2/2/logo_6.png" alt="">
                    </div>
                    <div class="gameTwoLogo logo_7">
                        <img src="image/game2/2/logo_7.png" alt="">
                    </div>
                    <div class="gameTwoLogo logo_8">
                        <img src="image/game2/2/logo_8.png" alt="">
                    </div>
                    <div class="gameTwoLogo logo_9">
                        <img src="image/game2/2/logo_9.png" alt="">
                    </div>
                </div>

                <div class="gameTwoFixed"></div>
            </div>
        </div>
        <!-- 场景2-2(结束) -->

    <!-- 游戏2(end) -->



    <!-- 弹框 (start) -->

    <!-- loading(start) -->
    <div id="_LoadingMask_" class="loading" style="display:none">
        <div class="loadWrap">
            <div class="icoWin">
                <div class="icoMask">
                    <img src="image/loading/loading.png" class="loading_ico flash infinite" alt="">
                </div>
            </div>
            <div class="loadWords">
                <img src="image/loading/loadingword.png" class="loading_word">
                <p>南昌出行 趣作战</p>
            </div>

        </div>
    </div>
    <!-- loading(end) -->

    <!-- 滑动成功弹框(start) -->
    <div id="slideSucc" class="alertType01 slideSucc fullScreen hide">
        <div class="alertType01Main absoulteControl">
            <img src="image/alert/slide_succ.png" class="alertType01Bg" alt="">
            <p class="alertType01Btn absoulteControl"></p>
        </div>
    </div>
    <!-- 滑动成功弹框(end) -->

    <!-- 游戏1开始弹框(start) -->
    <div id="gameOneTips" class="alertType01 gameOneStart fullScreen hide">
        <div class="alertType01Main absoulteControl imgCenterBox">
            <img src="image/alert/game1_start.png" class="alertType01Bg" alt="">
            <p class="alertType01Btn absoulteControl"></p>
        </div>
    </div>
    <!-- 游戏1开始弹框(end) -->

    <!-- 游戏2开始弹框(start) -->
    <div id="gameTwoTips" class="alertType01 gameTwoTips fullScreen hide">
        <div class="alertType01Main absoulteControl imgCenterBox">
            <img src="image/alert/game2_start.png" class="alertType01Bg" alt="">
            <div id="logoAmount" class="logoAmount">2</div>
            <p class="alertType01Btn absoulteControl"></p>
        </div>
    </div>
    <!-- 游戏2开始弹框(end) -->

    <!-- 挑战失败仍有次数弹框(start) -->
    <div id="tryAgain" class="alertType01 tryAgain fullScreen hide">
        <div class="alertType01Main absoulteControl">
            <img src="image/alert/game_fail_haschance.png" class="alertType01Bg" alt="">
            <div id="chances" class="chances">2</div>
            <p class="alertType01Btn absoulteControl"></p>
        </div>
    </div>
    <!-- 挑战失败仍有次数弹框(end) -->

    <!-- 游戏一通关成功弹框(start) -->
    <div id="gameOneSucc" class="alertType02 gameOneSucc fullScreen hide">
        <div class="alertType02Main absoulteControl">
            <img src="image/alert/gameOne_succ.png" class="alertType02Bg" alt="">
            <p class="alertType02Btn absoulteControl"></p>
        </div>
    </div>
    <!-- 游戏一通关成功弹框(end) -->

    <!-- 游戏二通关成功弹框(start) -->
    <div id="gameTwoSucc" class="alertType02 gameTwoSucc fullScreen hide">
        <div class="alertType02Main absoulteControl">
            <img src="image/alert/gameTwo_succ.png" class="alertType02Bg" alt="">
            <p class="alertType02Btn absoulteControl"></p>
        </div>
    </div>
    <!-- 游戏二通关成功弹框(end) -->

    <!-- 提交用户信息(start) -->
    <div id="userInfo" class="alertType02 userInfo fullScreen hide">
        <div class="alertType02Main absoulteControl">
            <img src="image/alert/userinfo.png" class="alertType02Bg" alt="">
            <form>
                <input class="u_name" id="useranme" maxlength="50"/>
                <input class="u_tel" id="phone" value="" maxlength="11" type="tel"/>
            </form>
            <p class="alertType02Btn absoulteControl" id="subForm"></p>
        </div>
    </div>
    <div id="subSuccess" class="alertType02 subSuccess fullScreen hide">
        <div class="alertType02Main absoulteControl">
            <img src="image/alert/sub_success.png" class="alertType02Bg" alt="">
            <!-- <form>
                <input class="u_name" id="useranme" maxlength="50"/>
                <input class="u_tel" id="phone" value="" maxlength="11" type="tel"/>
            </form> -->
            <p style="bottom: 14%;width: 56%;left: 22%;" class="alertType02Btn absoulteControl" id="checkSite"></p>
            <!-- <p class="alertType02Btn absoulteControl" id="subForm"></p> -->
        </div>
    </div>
    <!-- 提交用户信息(end) -->

    <!-- 横屏提示(start) -->
    <div id="crossScreenTips" class="crossScreenTips fullScreen hide">
        <div class="crossScreenMain absoulteControl">
            <p class="crossScreenPhone">
                <span class="tipsIphone">&#xe601;</span>
            </p>
            <p style="line-height:1.2;">来换个姿势吧!<br>（请确认手机开启屏幕旋转）</p>
        </div>
    </div>
    <!-- 横屏提示(end) -->

    <!-- 竖屏提示(start) -->
    <div id="verticalScreenTips" class="verticalScreenTips fullScreen hide">
        <div class="verticalScreenMain absoulteControl">
            <p class="verticalScreenPhone">
                <span class="tipsIphone">&#xe601;</span>
            </p>
            <p style="line-height:1.2;">来换个姿势吧!<br>（请确认手机开启屏幕旋转）</p>
        </div>
    </div>
    <!-- 竖屏提示(end) -->

    <!-- 弹框 (end) -->

    <!-- 音乐按钮(start) -->
    <div id="audio_btn" class="off rotate" style="display: none;"></div>
    <!-- 音乐按钮(end) -->
</div>

<script>
    seajs.config({
        base: "./js/libs",
        alias: {
            "zepto": "zepto.min",
            "touch": "touch-0.2.14.min",
            "preloadjs": "preloadjs-0.6.2.min",
            "soundjs": "soundjs-0.6.2.min"
        }
    });

    seajs.use("./js/entry");
</script>
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(function () {
        var Utils = {};
        var flag = false;
        Utils.isMobile = function (tel) {
            var reg = /^0?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/;///^(13|14|15|18)[0-9]{9}$/;
            return reg.test(tel);
        }



        $("#subForm").click(function () {
            var data = {m: Math.random()};
            data.username = $("#useranme").val();
            data.phone = $("#phone").val();



            if (data.phone == '' || data.phone == '') {
                alert('请填写手机号和姓名');
                 return false;
            }
            if (!Utils.isMobile(data.phone)) {
                 alert('请填写正确的手机号！');
                 return false;
            }
            $.ajax({
                type: "post",
                url: "/todo",
                data: data,
                dataType: "json",
                success: function(response){
                    if(response.error == 0){
                        $("#subSuccess").show();
                    }else{
                        alert(response.message);
                    }
                }
            })

        });
        $("#checkSite").click(function() {
            $("#subSuccess").hide();
            showSiteInfoPage();
        });
    })
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?a5932a83da7c4b69ab89c36db66cc022";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>